@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@900&display=swap');

.about-me-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #8FE388
}

.about-me-name {
    color: #801A86;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.about-me-subheader {
    color: #645986;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}

.about-me-text {
    color:#4E0250;
    padding: 2rem;
    font-family: 'Roboto Slab', serif;
}

.about-me-bio {
    color: #4E0250;
    font-size: 1.1rem;
    margin-left: 3rem;
    line-height: 1.6;
    text-align: left;
}

.profile-photo {
    border-radius: 50%;
    animation: shapeChange 2s infinite;
    height:50%;
    width:'auto';
}

@keyframes shapeChange {
    0% { 
        border-radius: 50%;
        transform: rotate(0deg);
    }
    50% {
        border-radius: 15%;
        transform: rotate(0deg);
    }
    100% {
        border-radius: 50%;
        transform: rotate(0deg);
    }
}

.ocaml {
    color: #EC6813
}

.pytorch {
    color: #EE4C2C
}

.python {
    color: #3776AB
}

.tensorflow {
    color: #FF6F00
}

.binance {
    color: #F0B90B
}
a {
    text-decoration: none;
}

.github {
    color: black
}

.react {
    color: #61DAFB
}

.html {
    color: #E34F26
}

.css {
    color: #1572B6
}

.firebase {
    color: #FFCA28
}

.icon-bar {
    margin-top: 30px;
    padding: 10px;
    background: #333;
    border-radius: 10px;
}

.about-me-icon {
    color: #fff;
}

.about-me-icon:hover {
    color: #00d8d6;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
